 /*
prioridade
id
class
tag
ordem
*/
@import "grid.css";
@import "reset.css";
@import "buttons.css";
@import "typography.css";
@import "icons.css";
@import "menu.css";
 body{
  font-family: 'Open Sans', sans-serif;
  color:rgb(130,130,130);
     line-height: 25px;
}
a {
    text-decoration: none; /* extrai a marcacao do link */
}

#header .btn{
    background-color: rgb(55, 148, 209);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
}
#header .btn:hover{ /* escurece o botao */
    background-color: rgb(84,180,84);
}
#header nav a {
    display: inline-block;
    text-decoration: none; /* extrai a marcacao do link */
    padding:10px;
    border-radius: 5px;
}
#header nav a:hover, #header a.active {
    background-color: rgba(209, 122, 27, 0.3);
}
#header h1{
    font-size: 54px;
    line-height: 60px;
}
#header {
  background:#000 no-repeat fixed ;
  background-size: cover;
  color: #ffffff;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
    align-content: center;

}

#header a {
  color: #ffffff;
    transition:ease .5s all;
}


#header nav{
    text-align: right ;
}
#header nav ul, #header nav ul li {
    display: inline-block;

}
#header .title {
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0, -50%);
    text-align: center;

}
.section{
    text-align: center;
    padding: 30px 0 10px 0; /* cima direita embaixo esquerda */
}
.section -center{
    text-align: center;

}
#customers{
    background-color: rgb(242,242,242);
}
#customers .btn{
    margin-top: 80px;
    background-color: rgb(220,220,220);
    color: rgb(130,130,130);

}
#customers .btn .material-icons{
    background-color: rgb(130,130,130);
    color:rgb(220,220,220);
}
#customers .btn .material-icons{
    vertical-align: middle;
    font-size: 16px;
}

#customers .container{
    max-width: 1000px;
}
#team
{
    background-color: rgb(55, 148, 209);
    color: rgb(130,130,130);

}

#team .img-box-round{
    width: 120px;
    height: 120px;
}
#team h2:after{
    background-color: rgb(55, 148, 2);
}
#footer{
    background-color:rgb(51,51,51);
    text-align: left;
}
#footer, #footer a{
    color: rgb(204,204,204);
}
#footer h3, #footer nav li{
    text-transform: uppercase;
}
#footer h3:after{
    content: '';
    display: block;
    border-bottom: 2px solid rgb(20, 204, 204);
    width: 30px;

}
#footer nav li{
    padding: 3px,0;
}
#footer nav li a:hover {
    color: rgb(55, 148, 209);

}
#footer .social{
    height: 200px;
    line-height: 200px;
    text-align: right;
    opacity: 1;
}
#footer .social a{
    display: inline-block;
    padding: 0 0 0 10px;
    opacity: 1;

}
#footer .social a:hover{
    opacity:.5;
    transition: ease .3s all;

}
#footer .social img {
    vertical-align: middle; /* centralizou melhor */
}
#copyright{
    text-align: center;
    background-color: rgb(34,34,);
}

 @media (max-width: 991px) {
     #header, #header nav{
         text-align: center;
     }
 }
